<div class="white-sheet">
	<p><strong>Sikertelen bejelentkezés.</strong></p>
	<p>Ellenőrizd a felhasználónevet és a jelszót, és hogy engedélyezted-e a hozzáférést a HunNor alkalmazás számára.</p>
	<p><%= link_to "Vissza a bejelentkezéshez", :action => "logout" %></p>
</div>

