<div class="white-sheet">
	<h1>HunNor szótár</h1></h1>
	<h2>Bejelentkezés</h2>
	<p>
		<a href="/auth/facebook"><img src="/assets/auth.facebook.64.png" alt="Bejelentkezés Facebook fiókkal" /></a>
		<a href="/auth/google_oauth2"><img src="/assets/auth.google.64.png" alt="Bejelentkezés Google fiókkal" /></a>
		<a href="/auth/linkedin"><img src="/assets/auth.linkedin.64.png" alt="Bejelentkezés LinkedIn fiókkal" /></a>
		<a href="/auth/twitter"><img src="/assets/auth.twitter.64.png" alt="Bejelentkezés Twitter fiókkal" /></a>
	</p>
</div>

