<div class="white-sheet">
	<p><strong>Sikeres kijelentkezés.</strong></p>
	<p>A <%= link_to @link[:label], "http://#{@link[:href]}/" %> fiókba még be vagy jelentkezve.</p>
	<p><%= link_to "Vissza a bejelentkezéshez", :action => "index" %></p>
</div>

