<div class="white-sheet">
	<p>Bejelentkeztél, de még nem vagy rajta a szerkesztők listáján. Küldd el a listára a következő adatokat:</p>
	<ul>
		<li>szolgáltató: <%= @provider %></li>
		<li>azonosító: <%= @uid %></li>
	</ul>
	<p><%= link_to("Kijelentkezés", :action => "logout") %></p>
</div>

