body {
	background-image: image-url("background.png");
	font-family: verdana, arial;
	font-size: 10pt;
	margin: 0;
}

.white-sheet {
	background-color: #f7f7f7;
	border: solid 2px #808080;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	margin: .5em;
	padding: .5em;
}
.white-sheet a {
	color: #000000;
}
