#priv-auth {
	background-color: #f7f7f7;	
	border-bottom: solid 2px #808080;
	left: 0px;
	margin: 0;
	position: fixed;
	top: 0px;
	width: 100%;
}
#priv-auth a {
	color: #000000;
}
#priv-auth img {
	vertical-align: middle;
}
#priv-auth p {
	margin: 0;
}
