<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Ádám Z. Kövér <ardavan.hu@gmail.com>" />
		<title>HunNor &mdash; Bejelentkezés</title>
		<link rel="stylesheet" type="text/css" href="/assets/auth.css" />
	</head>
	<body>
<%= yield %>
	</body>
</html>

