<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Ádám Z. Kövér" />
		<title>HunNor &mdash; Bejelentkezés</title>
		<%= stylesheet_link_tag("auth.css") %>
	</head>
	<body>
<%= yield %>
	</body>
</html>

