<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Ádám Z. Kövér" />
		<%= csrf_meta_tag %>
		<title>HunNor &mdash; Szerkesztő</title>
		<%= stylesheet_link_tag("priv.css") %>
		<%= javascript_include_tag "priv.js" %>
	</head>
	<body>
<%= yield %>
	</body>
</html>

