<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Ádám Z. Kövér <ardavan.hu@gmail.com>" />
		<%= csrf_meta_tag %>
		<title>HunNor &mdash; Szerkesztő</title>
		<link rel="stylesheet" type="text/css" href="/assets/priv.css" />
		<script type="text/javascript" src="/assets/priv.js"></script>
	</head>
	<body>
<%= yield %>
	</body>
</html>

